	<body background = "https://s-media-cache-ak0.pinimg.com/originals/f4/af/e4/f4afe418e6428ccadc1a98804b6b12e4.png" alt="image_here">
	<center><h1 style=color:red>Welcome to Hangman Sao eddition!!!</h1>
	<h4 style="color:yellow" >Please enter your names?</h4>
	<form style="color:red" action='user_names' method="post">
		Player1
		<input type="text" name="user_1">	
		<br>
<h1 class="pickstyle"></h1>
		Player2
		<input type="text" name="user_2">
		</br>
		<input style="color:green" type="submit" value="link start">
	</form>
	</center>
	</body>

