<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body class="background_stuff">
<h1 class="fount_color">Made by Chris William Shackelford<h1>
<%=yield%>
</body>
</html>
