<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body class="background_stuff">
</center><h1>Welcome to Hangman!<h1><center>
<%=yield%>
</body>
</html>
