<center>
<h1><font color = lime green>single or multi player</h1>
<form method="post" action="numplayers">
<h3><input type = "radio" name="playerchoice" value= "Single">single</h3>
<h3><input type = "radio" name="playerchoice" value= "2_Player">2_player</h3>
<h3><input type = "submit" value = "linkstart"></h3>
</form>
</center>