
.pickstyle{
	font-size: 20px;
}
.background_stuff{
	background-image: "https://s-media-cache-ak0.pinimg.com/originals/f4/af/e4/f4afe418e6428ccadc1a98804b6b12e4.png" alt="image_here";
background-size: cover;
background-repeat: no-repeat;	
}
.fount_color{
	color:blue;
}